.navBar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
}

.navBar {
  position: sticky;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
  z-index: 100;
  color: white;
}

.app-name {
  flex: 0 0 auto;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.title {
  font-size: 1.5rem;
  flex: 1;
  text-align: center;
  margin: 0px;
}

.links {
  display: flex;
  flex: 0 0 auto;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
}

.links button {
  background-color: white;
  border-radius: 8px;
  color: var(--text-primary);
  border: 0px;
  padding: 4px 6px;
}
