.for-you-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content {
  min-width: 0;
  min-height: 0;
  flex: 1;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.additional-information {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--text-primary);
  padding: 2rem;
  padding-left: 4.5rem;
}

.info-field { 
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.field-name { 
  font-size: larger;
  font-weight: 600;
}