.society-page {
  width: 100%;
  height: 100vh;
}

.society-image {
  position: absolute;
  top: 7vh;
  right: 2vw;
  overflow: hidden;
  object-fit: fill;
  width: 36vw;
  height: 35vh;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.society-container {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.society-name {
  margin: 1rem;
  text-align: center;
  color: var(--text-primary);
}

.society-name h1 {
  font-weight: bold;
  font-size: 2rem;
}

.society-info-container {
  margin: 1rem;
  word-wrap: break-word;
  flex-grow: 1;
  overflow-y: auto;
  flex: 1;
}

.description {
  color: gray;
  font-size: 0.85rem;
  padding: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 30vh;
  overflow-y: auto;
  border: 2px solid transparent;
  border-radius: 8px;
}

.society-detail {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

.society-detail-key {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;
}

.society-detail-value {
  width: 65%;
  max-width: 100%;
  border: 2px solid transparent;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  padding: 0px 1rem;
  border-radius: 8px;
  height: auto;
}

.button-container {
  position: absolute;
  bottom: 4vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
}

.button-container button {
  margin: 0.5rem;
  width: fit-content;
  border: 0px transparent;
  background-color: white;
  color: var(--text-primary);
  border-radius: 8px;
  padding: 0.5rem;

}
