* {
  font-size: 24px;
  font-weight: 400;
  font-family: "Google Sans", "Noto Sans Myanmar UI", Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --dark-blue: #073854;
  --light-blue: #b8dff5;
  --semi-dark-blue: #1a6794;
  --dark-blue-hover: #0e4c70;

  --primary-color: var(--dark-blue);
  --secondary-color: var(--semi-dark-blue);
  --accent-color: white;
  --text-primary: var(--dark-blue);
  --text-secondary: var(--semi-dark-blue);
}

.login-page-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--primary-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary-color) 75%,
    var(--primary-color)
  );
}

.for-you-page-body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.society-page-body {
  position: relative;
  background-image: linear-gradient(
    85deg,
    white 50%,
    var(--primary-color) 55%,
    var(--primary-color)
  );
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 100vw;
}

.choose-your-interests-page-body {
  padding: 0px;
  margin: 0px;
}
