* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
  font-family: "Google Sans", "Noto Sans Myanmar UI", Arial, sans-serif;
}

:root {
  --dark-blue: #073854;
  --semi-dark-blue: #1a6794;
  --dark-blue-hover: #073854;

  --primary-color: var(--dark-blue);
  --secondary-color: var(--semi-dark-blue);
  --accent-color: white;
  --text-primary: var(--dark-blue);
  --text-secondary: var(--semi-dark-blue);
}

.login-page-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
      45deg,
      var(--primary-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--primary-color) 75%,
      var(--primary-color)
    )
}
