.inputFieldContainer {
  position: relative;
  height: 50px;
  width: 100%;
  line-height: 35px;
  margin: 0.8rem 0;
}

.inputFieldContainer input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: var(--text-primary);
  font-size: 0.9rem;
  padding: 0 30px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  background: transparent;
  transition: 0.1s ease;
}

.inputFieldContainer input:not(:placeholder-shown),
.inputFieldContainer input:focus {
  border: 3px solid var(--secondary-color);
}

.inputFieldLabel {
  position: absolute;
  transform-origin: top left;
  top: 0; 
  left: 0;
  font-size: 1rem;
  color: var(--text-primary);
  padding: 0 10px;
  margin: 7px 4px;
  background-color: transparent;
  transition: 0.1s ease;
  pointer-events: none;
}

.inputFieldContainer input:not(:placeholder-shown) + .inputFieldLabel,
.inputFieldContainer input:focus + .inputFieldLabel {
  color: var(--text-secondary);
  background-color: var(--accent-color);
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  transform: translate(10px, -17px) scale(0.65);
}
