.inputFieldContainer {
  position: relative;
  height: 80px;
  width: 100%;
  line-height: 35px;
  margin: 13px 0px 0px 0px;
  padding: 0;
  box-sizing: border-box;
}

.inputFieldContainer input {
  position: absolute;
  height: 50px;
  width: 100%;
  font-size: 2.1em;
  padding: 0 30px;
  border-radius: 10px;
  border: 2px solid #094467;
  background: transparent;
  transition: 0.1s ease;
  margin: 0;
  box-sizing: border-box;
}

.inputFieldContainer input:not(:placeholder-shown),
.inputFieldContainer input:focus {
  color: #367da6;
  border: 3px solid #367da6;
}

.inputFieldLabel {
  position: absolute;
  font-size: 1.5em;
  color: #094467;
  padding: 0 18px;
  margin: 7px 4px;
  background-color: white;
  transition: 0.1s ease;
  pointer-events: none;
  box-sizing: border-box;
}

.inputFieldContainer input:not(:placeholder-shown) + .inputFieldLabel,
.inputFieldContainer input:focus + .inputFieldLabel {
  color: #367da6;
  height: 30px;
  line-height: 30px;
  transform: translate(0px, -22px) scale(0.65);
}
