.inputFieldContainer {
  position: relative;
  height: 50px;
  width: 100%;
  line-height: 35px;
  margin: 0.8rem 0;
}

.inputFieldContainer input {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0 30px;
  border-radius: 10px;
  border: 1px solid #094467;
  background: transparent;
  transition: 0.1s ease;
}

.inputFieldContainer input:not(:placeholder-shown),
.inputFieldContainer input:focus {
  color: #367da6;
  border: 3px solid #367da6;
}

.inputFieldLabel {
  position: absolute;
  transform-origin: top left;
  top: 0; 
  left: 0;
  font-size: 1rem;
  color: #1a638d;
  padding: 0 10px;
  margin: 7px 4px;
  background-color: transparent;
  transition: 0.1s ease;
  pointer-events: none;
}

.inputFieldContainer input:not(:placeholder-shown) + .inputFieldLabel,
.inputFieldContainer input:focus + .inputFieldLabel {
  color: #367da6;
  background-color: white;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  transform: translate(10px, -17px) scale(0.65);
}
